.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &-home-background {
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
    width: 55%;
    height: 100%;
    pointer-events: none;

    @include mobile {
      width: 100%;
      height: 81.5%;
      bottom: 0;
      position: absolute;
      margin-top: auto;
    }
  }

  &__container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @include tablet {
      gap: 25px;
    }

    @include mobile {
      height: 100%;
      gap: 10px;
      // justify-content: space-between;
      align-items: flex-start;
      padding: 70px 0px 100px 0px;
    }

    &-name {
      color: var(--light-color);
      font-family: 'Russo One', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 49px;
      line-height: 59px;
      letter-spacing: 0.11em;

      @include big-desktop {
        font-size: 44px;
      }

      @include tablet {
        font-size: 36px;
      }

      @include mobile {
        font-size: 24px;
      }
    }

    &-btn {
      width: 75px;
      height: 75px;
      display: flex;
      background: transparent;
      border: solid 2px var(--secondary-color);
      border-radius: 100px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      transition: scale 250ms var(--default-cubic),
        transform 250ms var(--default-cubic);

      @include big-desktop {
        width: 60px;
        height: 60px;
      }

      @include tablet {
        width: 50px;
        height: 50px;
      }

      @include mobile {
        width: 40px;
        height: 40px;
      }

      &:hover {
        @include hover {
          transform: scale(1.1);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
        }
      }

      &-href {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        outline: solid 2px #00000000;
        outline-offset: 0px;
        transition: outline 250ms var(--default-cubic),
          outline-offset 250ms var(--default-cubic);


        &:focus {
          outline: solid 2px var(--secondary-color);
          outline-offset: 5px;
        }

        &-svg {
          width: 45%;
          height: 45%;
          fill: var(--light-color);
          transform: rotate(180deg) translateY(-2px);
        }
      }
    }
  }
}
