.player {
  width: 100vw;
  height: 100vh;
  background: var(--dark-color);

  &-wrapper {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__cover {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      display: flex;
      background: var(--dark_second-color);
    }

    &-pause {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      border: none;
      background: transparent;
      cursor: pointer;

      &-svg {

        &-pause,
        &-play {
          width: 40%;
          height: 40%;
          fill: var(--light-color);
          filter: drop-shadow(5px 5px 9px #000000);
          transition: fill 250ms var(--default-cubic),
            transform 250ms var(--default-cubic),
            opacity 250ms var(--default-cubic),
            visibility 250ms var(--default-cubic);

          &.--disable {
            opacity: 0;
            visibility: hidden;
            transform: scale(0.0);
            position: absolute;
          }

          &.--active {
            animation: playAnimation infinite 1.5s ease-in-out;
          }
        }
      }

      &:hover {

        & svg {
          fill: var(--secondary-color);
          transform: scale(1.1);
        }
      }
    }
  }

  &__info {
    width: 454px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0px;

    &-text {

      &-title {
        color: var(--light-color);
        font-family: "Exo 2", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 0.11em;
      }

      &-genre {
        color: var(--light-color-50);
        font-family: 'Exo 2', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 20px;
        letter-spacing: 0.11em;
      }
    }

    &-nav {
      width: 100%;
      display: flex;
      flex-direction: column;

      &-time {
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2px;

        & span {
          color: var(--light-color);
          font-family: 'Exo 2', sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.11em;
        }
      }

      &-controls {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-progress,
        &-volume-select {
          width: 300px;
          height: 10px;
          background: var(--dark_second-color);
          border-radius: 100px;
          appearance: none;
          transition: transform 250ms var(--default-cubic);
          overflow: hidden;

          &::-webkit-slider-thumb {
            background: var(--secondary-color);
            cursor: pointer;
            width: 0px;
            height: 10px;
            appearance: none;
            box-shadow: -200px 0 0 200px var(--secondary-color);
          }

          &:hover {
            transform: scale(1, 1.3);
          }

          &:focus {
            outline: none;
          }
        }

        &-volume {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          gap: 7px;

          &-select {
            width: 110px;
          }

          &-btn {
            position: relative;
            top: -3px;
            width: 16px;
            height: 13px;
            background: transparent;
            border: none;
            cursor: pointer;

            &:hover {

              & svg {
                fill: var(--secondary-color);
                transform: scale(1.2);
              }
            }

            &-svg {
              width: 16px;
              height: 13px;
              fill: var(--light-color);
              transition: transform 250ms var(--default-cubic),
                fill 250ms var(--default-cubic);
            }
          }
        }
      }
    }
  }

  &__select {
    width: 260px;
    height: 100px;
    overflow-y: scroll;
    background: var(--dark_second-color-30);
    border-radius: 10px;
    padding: 10px;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 5px;

      &-item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        &-href {
          color: var(--light-color);
          font-family: 'Exo 2', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.02em;
          cursor: pointer;
          transition: color 250ms var(--default-cubic);

          &:hover {
            color: var(--secondary-color);
          }

          &.--active {
            color: var(--light-color-50);
            cursor: default;
            pointer-events: none;
          }
        }
      }
    }
  }
}

@keyframes playAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.93);
  }

  100% {
    transform: scale(1);
  }
}
