<div class="about__container container ru">
  <h3 class="about__title">
    Саша Данилов... <br>Блестящий современный мастер кларнета, приобретший популярность по обе стороны Атлантики.
  </h3>

  <p class="about__text">
    Музыкант 1976 года рождения, уроженец Молдовы и проживающий в Вене, он имеет репутацию одного из лучших кларнетистов
    клезмерской и мировой музыки в мире. Он освоил эту типичную смесь молдавских и еврейских элементов народной музыки,
    как никто другой.<br>
    Он лауреат многих международных конкурсов и участник бесчисленных фестивалей.<br>
    В дополнение к помимо плотного концертного календаря, Саша Данилов преподает на фестивалях в Клезе и музыкальных
    семинарах по всему миру.<br>
  </p>

  <p class="about__text">
    Обучение:<br>
    2000 – Выпускник Кишиневской музыкальной академии<br>
    2005 – Выпускник аспирантуры по камерной музыке<br>
    2011 – Выпускник Московской консерватории им. П.И.Чайковского, отделение камерной музыки<br>
  </p>

  <p class="about__text">
    Деятельность:<br>
    С 1998 по 2000 - Солист симфонического оркестра Государственного радио и телевидения , член Палаты представителей.
    Молдова<br>
    С 2000 по 2014 - Концертмейстер, а с 2006 года руководитель Президентского оркестра Rep. Молдова<br>
    С 2002 по 2014 - Преподаватель Кишиневской академии музыки, отделение камерной музыки С 2005 года преподаватель и
    руководитель мастер-классов в Институте исследований народной музыки, Вена<br>
    2015 - Основание<a class="about__text-href" href="https://klezmerakademie.at/" target="_blank">Венской Клезмерской
      академии</a> zusammen mit <a class="about__text-href" href="https://www.romangrinberg.com/#profil"
      target="_blank">Roman GrinbergSeit</a> <br>
    2015 - Дирижер Театра <a class="about__text-href" href="http://klezmerorchester.at/" target="_blank">Vienna Klezmer
      OrchestraSeit</a><br>
    2016 - Gрофессор Консерватории Франца Шуберта в Венe <br>
    2021 - Профессор <a class="about__text-href" href="http://klezmerorchester.at/" target="_blank">Венский университет
      музыки и исполнительских искусств (MDW)</a><br>
  </p>

  <p class="about__text">
    Дискография:<br>
    2000 - Жаворонок с группой цимбала (США)<br>
    2005 - Клезмер из Бессарабии с Euroclass<br>
    2010 - В фильме "Клезмуд" с Романом Гринбергом в главной роли (Австрия)<br>
    2015 - «Музыка» с Романом Гринбергом и джазовым оркестром г. Клезметрополь<br>
  </p>

  <ul class="about__list list-reset">
    <li class="about__list-item list-caption">Фестивали и конкурсы:</li>
    <li class="about__list-item">Москва: Международный фестиваль «Михоэлс»</li>
    <li class="about__list-item">Берлин: конкурс «Золотая ханука» – 1-я премия</li>
    <li class="about__list-item">Казань: Клезмерский конкурс «Леонид Сонце» – 1-я премия</li>
    <li class="about__list-item">Нью–Йорк: лектор «Спасательного плота музыканта»</li>
    <li class="about__list-item">Вена: «Augarten Intergalactic» – почетный гость</li>
    <li class="about__list-item">Москва: «Donafest» – художник в резиденции</li>
    <li class="about__list-item">Вена: «Klezvienna» – руководитель мастер-класса по игре на духовых инструментах</li>
    <li class="about__list-item">Веймар: «Идиш Саммер» – артист в резиденции</li>
    <li class="about__list-item">Монреаль: концерт «KlezKanada»</li>
    <li class="about__list-item">Валторна : концерт «Allegro-Vivo»</li>
    <li class="about__list-item">Витебск: концерт «Славянский базар»</li>
    <li class="about__list-item">Новосибирск: концерт «Новой волны»</li>
    <li class="about__list-item">Сафед: концерт «Клезмерского фестиваля»</li>
  </ul>

  <p class="about__text">
    Концерты:<br>
    Во многих городах России, Украины, Молдовы, Беларуси, Латвии, Литвы,Эстонии, Татарстана, Румынии, Венгрии, Франции, Греции, Турции, Италии, Израиля, Германии, Польша, Чехии, Словакии, Хорватии, Австрии, Бельгии, США, Мексики, Венесуэлы и Канады.<br>
  </p>
</div>
