<div class="about__container container de">
  <h3 class="about__title">
    Sasha Danilov
  </h3>

  <p class="about__text">
    Der 1976 in Moldawien geborene und in Wien lebende Musiker genießt den Ruf, einer der Besten zu seinKlezmer- und
    Weltmusik-Klarinettisten der Welt. Er hat diese typische gemeistert<br>
    Mischung aus moldauischen und jüdischen Volksmusikelementen wie keine andere.<br>
    Er ist Preisträger vieler internationaler Wettbewerbe und Teilnehmer unzähliger Festivals. <br>
    Zusätzlich zu Neben einem vollen Konzertkalender unterrichtet Sasha Danilov auf Klez-Festivals und Musikseminaren
    auf der ganzen Welt.<br>
  </p>

  <p class="about__text">
    Ausbildung:<br>
    2000 – Absolvent der Chisinau Music Academy<br>
    2005 – Absolvent des postgradualen Kammermusik studiums<br>
    2011 – Absolvent des PI Tchaikovsky Moskauer Konservatoriums, Abteilung Kammermusik<br>
  </p>

  <p class="about__text">
    Aktivitäten:<br>
    1998 – 2000 Solist des staatlichen Rundfunk- und Fernsehsymphonieorchesters Rep. Moldawien<br>
    2000 – 2014 Konzertmeister und seit 2006 Leiter des Präsidentenorchesters Rep. Moldawien<br>
    2002 – 2014 Dozent an der Musikakademie Chisinau, KammermusikAbteilung Seit 2005 Dozent und Leiter der Meisterkurse
    am Institut für Volksmusikforschung, Wien<br>
    2015 - Gründung der <a class="about__text-href" href="https://klezmerakademie.at/" target="_blank">Vienna Klezmer
      Academy</a> zusammen mit <a class="about__text-href" href="https://www.romangrinberg.com/#profil"
      target="_blank">Roman GrinbergSeit</a> <br>
    2015 - Dirigent des <a class="about__text-href" href="http://klezmerorchester.at/" target="_blank">Vienna Klezmer
      OrchestraSeit</a><br>
    2016 - Professor am Franzschubert Konservatorium in WienSeit <br>
    2021 - Professor der <a class="about__text-href" href="http://klezmerorchester.at/" target="_blank">Universität für
      Musik und darstellende Kunst Wien (MDW)</a><br>
  </p>

  <p class="about__text">
    Diskographie:<br>
    2000 - Skylark mit der Gruppe Hackbrett-Rinne (USA)<br>
    2005 - Klezmer aus Bessarabien mit Euroclass<br>
    2010 - In The Klezmood mit Roman Grinberg (Österreich)<br>
    2015 - «Muzik» mit Roman Grinberg und Jazz Orchestra Klezmetropol<br>
  </p>

  <ul class="list-reset about__list">
    <li class="about__list-item list-caption">Feste und Wettbewerbe:</li>
    <li class="about__list-item">Moskau: Internationales Fest «Mikhoels»</li>
    <li class="about__list-item">Berlin: Wettbewerb «Goldene Chanukia» – 1. Preis</li>
    <li class="about__list-item">Kasan: Klezmer-Wettbewerb «Leonid Sonce» – 1. Preis</li>
    <li class="about__list-item">New York: «Musician's Life Raft» – Dozent</li>
    <li class="about__list-item">Wien: «Augarten Intergalactic» – Ehrengast</li>
    <li class="about__list-item">Moskau: «Donafest» – Artist in Residence</li>
    <li class="about__list-item">Wien: «Klezvienna» – Leiter der Meisterklasse für Blasinstrumente</li>
    <li class="about__list-item">Weimar: «Yiddish Summer» – Artist in Residence</li>
    <li class="about__list-item">Montreal: «KlezKanada» – Konzert</li>
    <li class="about__list-item">Horn : «Allegro-Vivo» – Konzert</li>
    <li class="about__list-item">Witebsk: «Slawischer Basar» – Konzert</li>
    <li class="about__list-item">Yurmala: «New Wave» – Konzert</li>
    <li class="about__list-item">Safed: «Klezmer Festival» – Konzert</li>
  </ul>

  <p class="about__text">
    Konzerte...<br>
    In zahlreichen Städten Russlands, der Ukraine, Moldawiens, Weißrusslands, Lettlands, Litauens,Estland, Tatarstan,
    Rumänien, Ungarn, Frankreich, Griechenland, Türkei, Italien, Israel,Deutschland, Polen, Tschechien, in der Slowakei,
    Kroatien, Österreich, Belgien, den USA,Mexiko, Venezuela und Kanada.<br>
  </p>
</div>
