<div class="about__container container en">
  <h3 class="about__title">
    Sasha Danilov
  </h3>

  <p class="about__text">
    In 1976 born in Moldova and living in Vienna, musician enjoys the reputation of one of the Best to be in Klezmer and
    world music-clarinet in the world. He has this typical mastered mix of Moldovan and Jewish folk music elements like
    no other.<br>
    He is a laureate of many international competitions and participant of numerous Festivals.<br>
    In addition to in addition to a full concert calendar teaches Sasha Danilov on Klez-Festivals and music seminars all
    over the world.<br>
  </p>

  <p class="about__text">
    Education:<br>
    2000 – Graduated from the Chisinau Music Academy<br>
    2005 – Graduated from the post-graduate chamber music studies<br>
    2011 – A graduate of the PI Tchaikovsky Moscow Conservatory, chamber music Department<br>
  </p>

  <p class="about__text">
    Aktivitäten:<br>
    1998 – 2000 Soloist of the state radio and television Symphony orchestra of the Republic of Moldova<br>
    2000 – 2014 Concert masters and, since 2006 head of the presidential orchestra of the Republic of Moldova<br>
    2002 – 2014 Lecturer at the Academy of music in Chisinau, chamber music Department Since 2005 lecturer and head of
    the master classes at the Institute for folk music research, Vienna,<br>
    2015 - The founding of the <a class="about__text-href" href="https://klezmerakademie.at/" target="_blank">Vienna
      Klezmer
      Academy</a> together with <a class="about__text-href" href="https://www.romangrinberg.com/#profil"
      target="_blank">Roman Grinberg since</a> <br>
    2015 - Conductor of the <a class="about__text-href" href="http://klezmerorchester.at/" target="_blank">Vienna
      Klezmer orchestra since</a><br>
    2016 - Professor at the Franz Schubert Conservatory in Vienna, since<br>
    2021 - Professor of the <a class="about__text-href" href="http://klezmerorchester.at/" target="_blank">University of
      music and performing arts Vienna (MDW)</a><br>
  </p>

  <p class="about__text">
    Discography:<br>
    2000 - Skylark with the hack group Board-groove (USA)<br>
    2005 - Klezmer from Bessarabia, with the Euro class<br>
    2010 - In The Klezmood with Roman Grinberg (Austria)<br>
    2015 - «Muzik» with Roman Grinberg and Jazz Orchestra Klezmetropol<br>
  </p>

  <ul class="list-reset about__list">
    <li class="about__list-item list-caption">Festivals and competitions</li>
    <li class="about__list-item">Moscow International Festival «Such»</li>
    <li class="about__list-item">Berlin: Competition «Golden Chanukia» – 1. Price</li>
    <li class="about__list-item">Kazan: The Klezmer-Competition «Leonid Sonce» – 1. Price</li>
    <li class="about__list-item">New York: «Musician's Life Raft» – lecturer</li>
    <li class="about__list-item">Vienna: «Augarten Intergalactic» – The Guest Of Honor</li>
    <li class="about__list-item">Moscow: «Donafest» – Artist in Residence</li>
    <li class="about__list-item">Vienna: «Klezvienna» – head of the master class for wind instruments</li>
    <li class="about__list-item">Weimar: «Yiddish Summer» – Artist in Residence</li>
    <li class="about__list-item">Montreal: «KlezKanada» Concert</li>
    <li class="about__list-item">Horn : «Allegro Vivo» – Concert</li>
    <li class="about__list-item">Vitebsk: The «Slavic Bazaar» – Concert</li>
    <li class="about__list-item">Novosibirsk: «New Wave» Concert</li>
    <li class="about__list-item">Safed: «Klezmer Festival» Concert</li>
  </ul>

  <p class="about__text">
    Concerts...<br>
    In many cities of Russia, Ukraine, Moldova, Belarus, Latvia, Lithuania,Estonia, Tatarstan, Romania, Hungary, France,
    Greece, Turkey, Italy, Israel,Germany, Poland, the Czech Republic, Slovakia, Croatia, Austria, Belgium, the
    USA,Mexico, Venezuela and Canada.<br>
  </p>
</div>
