<section class="hero-about" id="hero-about">
  <picture>
    <source srcset="img/sasha-danilov-2.avif" type="image/avif">
    <source srcset="img/sasha-danilov-2.webp" type="image/webp">
    <img loading="lazy" src="img/sasha-danilov-2.png" class="image hero-about-home-background" width="1920" height="1080" alt="Photo Sasha Danilov">
  </picture>
  <div class="hero-about__container container">
    <div class="hero-about__desc">
      <h2 class="hero-about__desc-name de">Über</h2>
      <h2 class="hero-about__desc-name ru">Обо мне</h2>
      <h2 class="hero-about__desc-name en">About</h2>
      <button class="hero-about__desc-btn" disabled>
        <a href="#about" class="hero-about__desc-btn-href" data-scroll>
          <svg class="hero-about__desc-btn-href-svg">
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </a>
      </button>
    </div>
  </div>
  <span class="photo-copy">photo: Wolfgang Frank</span>
</section>
