<div class="burger-menu" id="burger-menu" data-menu>
  <div class="burger-menu__container container">

    <nav class="nav burger-menu__nav" title="Navigation">
      <ul class="burger-menu__nav-list list-reset">
        <li class="burger-menu__nav-list-item">
          <a href="/sasha-danilov-landing" class="burger-menu__nav-list-item-href --active de" data-menu-item>Startseite</a>
          <a href="/sasha-danilov-landing" class="burger-menu__nav-list-item-href --active ru" data-menu-item>домой</a>
          <a href="/sasha-danilov-landing" class="burger-menu__nav-list-item-href --active en" data-menu-item>home</a>
        </li>
        <li class="burger-menu__nav-list-item">
          <a href="./about" class="burger-menu__nav-list-item-href de" data-menu-item>über</a>
          <a href="./about" class="burger-menu__nav-list-item-href ru" data-menu-item>обо мне</a>
          <a href="./about" class="burger-menu__nav-list-item-href en" data-menu-item>about</a>
        </li>
        <li class="burger-menu__nav-list-item">
          <a href="./contact" class="burger-menu__nav-list-item-href de" data-menu-item>Kontakt</a>
          <a href="./contact" class="burger-menu__nav-list-item-href ru" data-menu-item>контакты</a>
          <a href="./contact" class="burger-menu__nav-list-item-href en" data-menu-item>contact</a>

        </li>
      </ul>
  </div>
</div>
