<footer class="footer">
  <div class="footer__container container">
    <h4 class="footer__copy de">© 2022 Sasha Danilov. Alle Rechte vorbehalten.</h4>
    <h4 class="footer__copy ru">© 2022 Саша Данилов. Все права защищены.</h4>
    <h4 class="footer__copy en">© 2022 Sasha Danilov. All Rights Reserved.</h4>
    <nav class="nav footer__nav" title="Navigation">
      <ul class="footer__nav-list list-reset">
        <li class="footer__nav-list-item">
          <a href="/sasha-danilov-landing/" class="footer__nav-list-item-href de">Startseite</a>
          <a href="/sasha-danilov-landing/" class="footer__nav-list-item-href ru">домой</a>
          <a href="/sasha-danilov-landing/" class="footer__nav-list-item-href en">home</a>
        </li>
        <li class="footer__nav-list-item">
          <a href="/sasha-danilov-landing/about" class="footer__nav-list-item-href de">über</a>
          <a href="/sasha-danilov-landing/about" class="footer__nav-list-item-href ru">обо мне</a>
          <a href="/sasha-danilov-landing/about" class="footer__nav-list-item-href en">about</a>
        </li>
        <li class="footer__nav-list-item">
          <a href="/sasha-danilov-landing/contact" class="footer__nav-list-item-href de">Kontakt</a>
          <a href="/sasha-danilov-landing/contact" class="footer__nav-list-item-href ru">контакты</a>
          <a href="/sasha-danilov-landing/contact" class="footer__nav-list-item-href en">contact</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
