<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- opengraph & description -->
  <meta property="og:title" content="@title">
  <meta property="og:site_name" content="Danilov Sasha">
  <!-- <meta property="og:url" content="url"> __!!!Insert the url when the site is put on the domain!!!__ -->
  <meta property="og:description" content="Sasha Danilov. Honored Artist of the Republic of Moldova, brilliant master of contemporary clarine">
  <meta property="og:image" content="/img/sasha-danilov-2.png">
  <meta property="og:image:secure_ur" content="/img/sasha-danilov-2.png">
  <link rel="image_src" href="/img/sasha-danilov-2.png">
  <meta name=”Description” content="Sasha Danilov. Honored Artist of the Republic of Moldova, brilliant master of contemporary clarine">

  <!-- twitter -->
  <meta name="twitter:title" content="@title">
  <meta name="twitter:description" content="Sasha Danilov. Honored Artist of the Republic of Moldova, brilliant master of contemporary clarine">
  <!-- <meta name="twitter:site" content="url"> __!!!Insert the url when the site is put on the domain!!!__ -->
  <meta name="twitter:image" content="/img/sasha-danilov-2.png">

  <!-- icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="194x194" href="/favicon/favicon-194x194.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <meta name="apple-mobile-web-app-title" content="@title">
  <meta name="application-name" content="@title">
  <meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#f3cd7b"> <!-- the color of the icon on the macbook touch panel  -->
  <meta name="msapplication-TileColor" content="#f3cd7b"> <!-- the color of the icon in the start menu in windows 8+  -->
  <meta name="theme-color" content="#111117"> <!--  website theme color  -->

  <!-- preload fonts -->
  <link rel="preload" href="/fonts/name_font.woff2" as="font" type="font/woff2" crossorigin>

  <!-- import css -->
  <link rel="stylesheet" href="/css/vendor.css">
  <link rel="stylesheet" href="/css/main.css">

  <!-- iport js -->
  <script defer src="/js/main.js"></script>
  <title>@title</title>
</head>
