<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- opengraph & description -->
  <meta property="og:title" content="Заголовок">
  <meta property="og:site_name" content="Имя сайта">
  <meta property="og:url" content="url">
  <meta property="og:description" content="описание">
  <meta property="og:image" content="ссыль на картинку">
  <meta property="og:image:secure_ur" content="картинка для https">
  <link rel="image_src" href="еще один тег для картинки">
  <meta name=”Description” content="теги">

  <!-- twitter -->
  <meta name="twitter:title" content="Заголовок">
  <meta name="twitter:description" content="описание">
  <meta name="twitter:site" content="url">
  <meta name="twitter:image" content="ссыль на картинку">

  <!-- icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <meta name="apple-mobile-web-app-title" content="@title">
  <meta name="application-name" content="@title">
  <meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="theme-color" content="#FFFFFF">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#FFFFFF">
  <link rel="manifest" href="/favicon/site.webmanifest">

  <!-- preload fonts -->
  <link rel="preload" href="/fonts/name_font.woff2" as="font" type="font/woff2" crossorigin>

  <!-- import css -->
  <link rel="stylesheet" href="/css/vendor.css">
  <link rel="stylesheet" href="/css/main.css">

  <!-- iport js -->
  <script defer src="/js/main.js"></script>
  <title>@title</title>
</head>
