.hero-about {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;

  &-home-background {
    padding-top: 130px;
    position: relative;
    z-index: 1;
    width: 500px;
    pointer-events: none;

    @include big-desktop {
      width: 400px;
      padding-top: 100px;
    }

    @include mobile {
      width: 100%;
      padding-top: 0;
    }
  }

  &__container {
    position: relative;
    width: fit-content;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mobile {
      align-items: center;
    }

    .photo-copy-about {
      position: absolute;
      right: 10px;
      bottom: 10px;
      z-index: 2;
      color: var(--light-color-50);
      font-weight: 400;
    }
  }
}
