<section class="short" id="short">
  <div class="short__container container el-anim">
    <p class="short__text de">Klezmer&nbsp;&mdash; und Weltmusik-Klarinettist, Professor</p>
    <p class="short__text en">Klezmer and World music-clarinetist, professor</p>
    <p class="short__text ru">Клезмерский и&nbsp;мировой музыкальный кларнетист, профессор</p>

    <!-- href more -->
    <a href="/sasha-danilov-landing/about" class="short__more de">mehr</a>
    <a href="/sasha-danilov-landing/about" class="short__more ru">больше</a>
    <a href="/sasha-danilov-landing/about" class="short__more en">more</a>
  </div>
</section>
