<section class="short" id="short">
  <div class="short__container container">
    <!-- first -->
    <p class="short__text de">Sascha Danilow... Verdienter Künstler der Republik Moldau, brillanter Meister der zeitgenössischen Klarinette, hat auf beiden Seiten des Atlantiks Popularität erlangt.</p>
    <p class="short__text en">Sasha Danilov... Honored Artist of the Republic of Moldova, brilliant master of contemporary clarinet, has acquired popularity on both sides of the Atlantic.</p>
    <p class="short__text ru">Саша Данилов... Заслуженный артист Республики Молдова, блестящий мастер современного кларнета, приобрел популярность по обе стороны Атлантики.</p>

    <!-- second -->
    <p class="short__text de">Preisträger internationaler Wettbewerbe</p>
    <p class="short__text en">Laureate of International competitions</p>
    <p class="short__text ru">Лауреат международных конкурсов</p>

    <!-- third -->
    <p class="short__text de">Gewinner des Internationalen Musikpreises «GOLDEN STATUETTE»</p>
    <p class="short__text en">Winner of the International Music Award «GOLDEN STATUETTE»</p>
    <p class="short__text ru">Лауреат Международной музыкальной премии «GOLDEN STATUETTE»</p>

    <!-- fourth -->
    <p class="short__text de">Ehrengast des Internationalen Festivals «DONAFEST»</p>
    <p class="short__text en">Honorary guest of the International Festivals «DONAFEST»</p>
    <p class="short__text ru">Почетный гость Международных фестивалей  «DONAFEST»</p>

    <!-- href more -->
    <a href="/about" class="short__more de">mehr</a>
    <a href="/about" class="short__more ru">больше</a>
    <a href="/about" class="short__more en">more</a>



  </div>
</section>


